body {
    background: blue;
    font: normal 15pt Arial;

}
header {
    color: red;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 200px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(228, 174, 174);

}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}